---
import { Image } from "ui";

interface Props {
  class?: string;
  src: string;
  alt?: string;
  loading?: "lazy" | "eager";
  attachment?: "fixed";
}

const {
  class: classname,
  src,
  alt = "",
  loading = "lazy",
  attachment,
  ...rest
} = Astro.props;
---

<div class="bg-img" class:list={classname} {...rest}>
  {
    attachment && attachment == "fixed" ? (
      <div
        class="bg-img__fixed"
        style={{
          backgroundImage: `url(/assets/img/${src})`,
        }}
      />
    ) : (
      <Image src={src} alt={alt} loading={loading} />
    )
  }
</div>
