---
interface Props {
  class?: string;
  id?: string;
  variant?: "primary" | "secondary" | "outline" | "link";
  href?: string;
  ru?: string;
  jp?: string;
}

const {
  class: className = "",
  id,
  variant = "primary",
  href,
  ru,
  jp,
  ...rest
} = Astro.props;

const variantClasses = {
  primary: "btn-primary",
  secondary: "btn-secondary",
  outline: "btn-outline",
  link: "btn-link",
};

const computedClass = ["btn", className, variantClasses[variant]]
  .filter(Boolean)
  .join(" ");

const Tag = href ? "a" : "button";
---

<Tag id={id} class={computedClass} href={href} {...rest}>
  {
    variant == "primary" ? (
      <>
        <span class="font-montserrat">{jp}</span>
        <hr />
        <span>{ru}</span>
      </>
    ) : (
      <slot />
    )
  }
</Tag>

<style lang="scss" is:global>
  @use "scss/helpers" as *;

  .btn {
    color: initial;
    font-size: rem(18);
    font-weight: 500;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--transition-ease);

    &-primary {
      gap: rem(18);

      hr {
        width: rem(1);
        height: rem(28);
        background: var(--text-color);
      }

      span {
        font-size: rem(22);
        text-transform: uppercase;
        &.font-montserrat {
          color: var(--primary);
        }
      }
    }

    &-secondary {
    }

    &-outline {
      height: rem(56);
      width: rem(220);
      color: var(--primary);
      border: rem(1) solid var(--primary);
      border-radius: 9999px;

      &:hover {
        color: #fff;
        background: var(--primary);
      }
    }
  }
</style>
